<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="isHandset$ ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
      style="background-color:#ABEBC6 ;">
    <mat-toolbar color="primary">
      <mat-icon>home</mat-icon>
      Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink='/information'><mat-icon>assignment</mat-icon>จัดเตรียมข้อมูล</a>
      <a mat-list-item routerLink='/tranfer'><mat-icon>assignment_return</mat-icon>โอนย้าย</a>
      <a mat-list-item routerLink='/backup'><mat-icon>sync</mat-icon>สำรองข้อมูล</a>
      <a mat-list-item routerLink='/setting'><mat-icon>build</mat-icon>ตั้งค่า</a>
      <a mat-list-item routerLink='/handbook'><mat-icon>description</mat-icon>แนะนำการใช้งาน</a>
      <a mat-list-item routerLink='/about'><mat-icon>help_outline</mat-icon>เกี่ยวกับ</a>
      <a mat-list-item routerLink='/update'> <mat-icon>sync</mat-icon>อัพเดท</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>example test</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
